/*----------- Mobile Responsive Design Css Start -----------*/

@media screen and (max-width: 700px){
	.menubar{
		padding: 0px 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 60px;
		position: sticky;
	}
	.menu-links{
		display: none;
	}
	.menubar .logo{
		width: 43%;
		padding: 10px;
	}
	.menubar .responsive{
		display: block;
	}
	.responsive-menu{
		width: 100%;
		height: auto;
		padding: 0px;
		text-align: center;
		display: none;
		position: sticky;
		top: 60px;
		z-index: 100;
	}
	.responsive-menu li{
		width: 100%;
		height: 50px;
		background: #535456;
		line-height: 50px;
		transition: 0.2s;
	}
	.responsive-menu li a{
		font-size: 19px;
		color: white;
	}
	.responsive-menu li:hover{
		background: #5927FF;
	}











	.home-page{
		min-height: 100vh;
		display: block;
		background-size: contain;
		background-position: bottom;
	}
	.home-page .left-home-content{
		width: 100%;
		height: 40%;
		display: block;
		text-align: center;
		padding: 30px;
	}
	.left-home-content h1{
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 20px;
		padding: 0;
	}
	.left-home-content p{
		padding: 0px 10px;
	}
	.btn{
		margin: auto;
	}
	
	.right-home-content{
		width: 100%;
		height: 60%;
		padding: 0px 0px;
	}
	.right-home-content img{
		height: 500px;
		left: 50px;
		top: 35px;
		animation: none;
	}













	.features{
		height: auto;
		text-align: center;
		margin: 100px 0px;
	}
	.features h1{
		font-size: 30px;
	}
	.features p{
		padding: 0px 35px;
	}
	.feature-row{
		justify-content: center;
	}
	.features-col4 p{
		margin-top: 10px;
		padding: 0px;
	}














	.about-page{
		height: auto;
		display: block;
		text-align: center;
	}
	.about-page .left-about-content{
		width: 100%;
		height: 50%;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 0px;
		padding-left: 0px;
		position: relative;
	}
	.left-about-content img{
		width: 380px;
	}
	.about-page .right-about-content{
		width: 100%;
		height: 50%;
		padding: 100px 30px;
		position: relative;
	}
	.right-about-content h1{
		font-size: 30px;
	}
	.right-about-content p{
		font-size: 16px;
		margin-bottom: 45px;
	}
	.res-btn{
		margin: auto;
	}














	.our-app{
		height: 90vh;
		text-align: center;
		display: block;
		margin-bottom: 30px;
		
	}
	.left-app-content{
		width: 100%;
		height: 50%;
		padding: 100px 50px;
	}
	.left-app-content h1{
		font-size: 30px;
	}
	.left-app-content p{
		font-size: 15px;
		text-align: center;
	}
	.right-app-content{
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.right-app-content img{
		height: 280px;
		left: 150px;
	}












	.package-page{
		margin-top: 50px;
		padding: 50px 0px;
		height: auto;
		text-align: center;
	}
	.package-page h1{
		font-size: 27px;
		margin-bottom: 15px;
		padding: 0px 20px;
	}
	.package-page p{
		padding: 0px 20px;
		margin-bottom: 80px;
	}
	.package-page .package-row{
		justify-content: center;
	}
	.package-row .package-col3{
		margin-bottom: 50px;
	}
	.package i{
		font-size: 17px;
	}
	.package p{
		font-size: 17px;
		padding: 0px 5px;
		margin-bottom: 0;
	}
	.package-col3 h1{
		font-size: 55px;
	}
	.package-row .package-col3:nth-child(2){
		height: 550px;
		top: 0px;
		background: #5F39FF;
	}













	.question-page{
		padding: 150px 20px;
	}
	.question-bar{
		min-width: 400px;
	}





	.our-team{
		width: 100%;
		height: auto;
		padding: 100px 0px;
		margin-top: 0px;
	}
	.our-team h1{
		font-size: 25px;
		padding: 0px 20px;
	}
	.our-team p{
		padding: 0px 20px;
	}
	.team-card{
		flex-wrap: wrap;
		margin-top: 60px;
	}














	.clients-review{
		height: auto;
		padding: 100px 0px;
	}
	.clients-review h1{
		font-size: 30px;
		padding: 0px 20px;
	}
	.clients-review p{
		padding: 0px 15px;
	}
	marquee{
		width: 100%;
		height: 30px;
	}
	marquee img{
		height: 30px;
		margin-left: 80px;
	}

















	.contact-page{
		width: 100%;
		height: auto;
		display: block;
		text-align: left;
		padding: 50px 0px 120px 0px;
	}
	.contact-page h1{
		font-size: 25px;
		padding: 0px 30px;
	}
	.contact-page p{
		padding: 0px 30px;
	}
	.contact-page .left-contact-content{
		width: 100%;
		height: 50%;
		margin-bottom: 50px;
	}
	.right-contact-content{
		width: 100%;
		height: 50%;
		display: block;
		text-align: center;
	}
	.input-box{
		width: 420px;
		height: 50px;
		margin: 10px auto;
	}
	.msg{
		width: 420px;
		height: 120px;
		margin-left: 0px;
	}
	.send{
		width: 155px;
		margin-left: 32px;
	}
















	.footer{
		height: auto;
		background: linear-gradient(to top, rgba(113, 65, 223, 1.0), rgba(160, 62, 232, 1.0));
		display: block;
		padding: 50px 80px;
	}
	.footer-col4{
		flex-basis: 100%;
		padding: 0;
		margin-top: -15px;
	}
	.footer-col4 .logo{
		width: 150px;
		margin-top: 25px;
	}
	hr{
		display: none;
	}
	.copy{
		width: 483px;
		padding: 0;
		height: 60px;
		margin-top: -25px;
		margin-bottom: -50px;
		margin-left: -80px;
		background: #A751ED;
		text-align: center;
		line-height: 60px;
	}
}

/*----------- Mobile Responsive Design Css End -----------*/















/*----------- About Page Mobile Responsive Design Css Start -----------*/

@media screen and (max-width: 700px){
	.menubar{
		padding: 0px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: 60px;
		position: sticky;
	}
	.menu-links{
		display: none;;
	}
	.menubar .logo{
		width: 50%;
		line-height: 60px;
	}
	.menubar .logo img{
		height: 40px;
	}
	.menubar .responsive{
		display: block;
		line-height: 60px;
	}
	.responsive-menu{
		width: 100%;
		height: auto;
		padding: 0px;
		text-align: center;
		display: none;
	}
	.responsive-menu li{
		width: 100%;
		height: 50px;
		background: #535456;
		line-height: 50px;
		transition: 0.2s;
	}
	.responsive-menu li a{
		font-size: 19px;
		color: white;
	}
	.responsive-menu li:hover{
		background: #5927FF;
	}



	.home-content{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.home-content h1{
		font-size: 35px;
	}
	.home-content p{
		padding: 0px 30px;
	}



	.footer{
		height: auto;
		background: linear-gradient(rgba(152, 49, 227, 0.9), rgba(39, 47, 121, 0.9));
		display: block;
		padding: 50px 80px;
	}
	.footer-col4{
		width: 100%;
		padding: 0;
		margin-top: -15px;
	}
	.footer-col4 .logo{
		width: 150px;
		margin-top: 25px;
	}
	hr{
		display: none;
	}
	.copy{
		width: 483px;
		padding: 0;
		height: 60px;
		margin-top: 25px;
		margin-bottom: -50px;
		margin-left: -80px;
		background: #A751ED;
		text-align: center;
		line-height: 60px;
	}
}

/*----------- About Page Mobile Responsive Design Css End -----------*/
